<!-- @@master= components/master.tmpl.html {"title": "Home page"}-->


<!-- @@block= content -->
<div class="wrapper-system">
    <div class="row">
        <div class="col-xs-6 fist">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-10 col-xs-push-1">
                        <div class="form-group">
                            <label class="col-xs-12 control-label">Вхідна система числення</label>
                            <div class="col-xs-12">
                                <select class="form-control" id="input">
                                    <option value="2">2-cистема</option>
                                    <option value="3">3-cистема</option>
                                    <option value="4">4-cистема</option>
                                    <option value="5">5-cистема</option>
                                    <option value="6">6-cистема</option>
                                    <option value="7">7-cистема</option>
                                    <option value="8">8-cистема</option>
                                    <option value="9">9-cистема</option>
                                    <option value="10">10-cистема</option>
                                    <option value="11">11-cистема</option>
                                    <option value="12">12-cистема</option>
                                    <option value="13">13-cистема</option>
                                    <option value="14">14-cистема</option>
                                    <option value="15">15-cистема</option>
                                    <option value="16">16-cистема</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-6 second">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-10 col-xs-push-1">
                        <div class="form-group">
                            <label class="col-xs-12 control-label">Вихідна система числення</label>
                            <div class="col-xs-12">
                                <select class="form-control" id="output">
                                    <option value="2">2-cистема</option>
                                    <option value="3">3-cистема</option>
                                    <option value="4">4-cистема</option>
                                    <option value="5">5-cистема</option>
                                    <option value="6">6-cистема</option>
                                    <option value="7">7-cистема</option>
                                    <option value="8">8-cистема</option>
                                    <option value="9">9-cистема</option>
                                    <option value="10">10-cистема</option>
                                    <option value="11">11-cистема</option>
                                    <option value="12">12-cистема</option>
                                    <option value="13">13-cистема</option>
                                    <option value="14">14-cистема</option>
                                    <option value="15">15-cистема</option>
                                    <option value="16">16-cистема</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4 col-xs-push-8">
                    <button type="button" class="btn btn-primary btn-block">Розрахувати</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- @@close -->
