<!-- @@master=components/master.tmpl.html-->


<!-- @@block= input -->
<h1 class="page-header">
    Numeric system
</h1>


<div class="wrapper-system">
    <div class="row">
        <div class="col-xs-6 fist">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="col-xs-12 control-label">Вхідна система числення</label>
                            <div class="col-xs-12">
                                <select class="form-control" id="input">
                                    <option value="2">2-cистема</option>
                                    <option value="3">3-cистема</option>
                                    <option value="4">4-cистема</option>
                                    <option value="5">5-cистема</option>
                                    <option value="6">6-cистема</option>
                                    <option value="7">7-cистема</option>
                                    <option value="8">8-cистема</option>
                                    <option value="9">9-cистема</option>
                                    <option value="10">10-cистема</option>
                                    <option value="11">11-cистема</option>
                                    <option value="12">12-cистема</option>
                                    <option value="13">13-cистема</option>
                                    <option value="14">14-cистема</option>
                                    <option value="15">15-cистема</option>
                                    <option value="16">16-cистема</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-6 second">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="col-xs-12 control-label">Вихідна система числення</label>
                            <div class="col-xs-12">
                                <select class="form-control" id="output">
                                    <option value="2">2-cистема</option>
                                    <option value="3">3-cистема</option>
                                    <option value="4">4-cистема</option>
                                    <option value="5">5-cистема</option>
                                    <option value="6">6-cистема</option>
                                    <option value="7">7-cистема</option>
                                    <option value="8">8-cистема</option>
                                    <option value="9">9-cистема</option>
                                    <option value="10">10-cистема</option>
                                    <option value="11">11-cистема</option>
                                    <option value="12">12-cистема</option>
                                    <option value="13">13-cистема</option>
                                    <option value="14">14-cистема</option>
                                    <option value="15">15-cистема</option>
                                    <option value="16">16-cистема</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 ">
            <div class="row">

                <div class="col-xs-6">
                    <button type="button"
                            class="btn btn-default btn-block">
                        Очистити
                    </button>
                </div>
                <div class="col-xs-6">
                    <button type="button"
                            class="btn btn-primary btn-block">
                        Розрахувати
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- @@close -->


<!-- @@block= output -->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                   aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                   aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                   aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>
<!-- @@close -->
